@use 'src/styles/button';
@use 'src/styles/colors';

.buttonContainer {
  padding-left: 10px;
}

.successButton {
  @include button.style;

  background-color: colors.$success;

  &:focus {
    border: none;
    outline: none;
  }

  &:hover {
    background-color: colors.$successHover;
  }

  &:active {
    background-color: colors.$success;
  }
}

.disabledButton {
  @include button.style;
  &:disabled {
    background-color: colors.$danger;
  }

  &:hover {
    pointer-events: none;
  }
}


